.backgroundImg {
  background-image: url("../../../image/bannar/bannar.jpg");
  width: 100%;
  /* height: 700px; */
  margin: 0px;
  padding: 0px;
  height: 60vh;
  opacity: 0.4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(1px);
}
/* .animation {
  height: 80vh;
  background-color: black;
  opacity: 0.2;
} */
