.aboutImg{
    border-radius: 15px;
}
.aboutImg img{
    border-radius: 15px;
width: 100%;
object-fit: cover;
object-position: center;
}
.aboutImg:hover img{
overflow: scroll;
}
.textJustify{
    text-align: justify;
}
.cardBox{
    border: rgb(20, 20, 20) solid 1px;
    border-radius: 10px;
    width: 95%;
    margin: auto;
}
@media only screen and (max-width: 765px) {
    .fontSM{
        font-size: 1.2rem !important;
        margin: 0px 2px !important;
    }
    .cardBox{
    border: rgb(20, 20, 20) solid 1px;
    border-radius: 10px;
    width: 100%;
    margin: auto;
}
}
