.text-color {
  color: #9fa0a1;
  text-decoration: none;
}
.text-color:hover {
  color: #9fa0a1;
  /* text-decoration: none; */
}
.boxBg {
  background-color: #242424;
}
.bodyBg{
  
  background: rgb(27, 27, 27);
}

.boxBackground {
  background: linear-gradient(to left top, #212428, #16181c);
  transition: all ease-in-out 0.5s;
  /* border: #000 solid 5px; */
  border-radius: 0;
  border: 0;

}
.boxBackground:hover {
  background: linear-gradient(to right bottom, #212428, #16181c);
}